/* Import font : League Spartan  */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

*, html {
    font-family: 'League Spartan', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a { text-decoration: none !important; color: #000; }
button, input ,select { border: none; background: transparent; outline: none; cursor: pointer; }
ul, li { list-style: none; }
img { width: 100%; vertical-align: middle; }


/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/
:root {
    --color-theme-01: #219C90;
    --color-theme-02: #FFF455;
    --color-theme-03: #FFC700;
    --color-theme-04: #EE4E4E;
    
    --white-color:       #ffffff;
    --dark-color:        #000000;
    --info-color:        #666;
    --description-color: #717275;

    --twitter-color:       #1da1f2;
    --facebook-color:      #1877f2;
    --instagram-color:     #c13584;
    --pinterest-color:     #e60023;
    --whatsapp-color:      #128c7e;
  
    --fw-thin:             100;
    --fw-light:            300;
    --fw-normal:           400;
    --fw-semibold:         600;
    --fw-bold:             700;
  }
  


/* ==============================================
    Frequently used Class 
================================================= */
.lf-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2rem;
}

.lf-topic p {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-theme-01);
}
.lf-topic h1 {
    font-size: 48px;
    font-weight: 800;
    color: var(--dark-color);
}
.lf-topic h1 span { color: var(--color-theme-04); }


/* -------------- btn -------------- */
.lf-btn-theme01 {
    transition: .25s ease;
    color: var(--white-color);
    background-color: var(--color-theme-04);
    border-radius: 6px;
}
.lf-btn-theme01:hover {
    background-color: var(--color-theme-03);
}

.lf-btn-theme02 {
    transition: .25s ease;
    color: var(--white-color);
    background-color: var(--color-theme-03);
    border-radius: 6px;
}
.lf-btn-theme02:hover {
    background-color: var(--color-theme-04);
}



/*---------------------------------------
  Nav Menu             
-----------------------------------------*/
.lf-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--white-color);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
    z-index: 999;
}

.lf-nav-logo h1 {
    color: var(--color-theme-03);
}
.lf-nav-logo h1 span {
    color: var(--color-theme-01);
}

.lf-nav-menu a {
    font-size: 1.2rem;
    padding: 1.5rem 2rem;
    color: var(--info-color);
    transition: all .25s ease;
}
.lf-nav-menu a:hover {
    color: var(--white-color);
    background-color: var(--color-theme-03);
}

.lf-nav-menu-active {
    color: var(--white-color) !important;
    background-color: var(--color-theme-03);
}


/*---------------------------------------
    HEADER             
-----------------------------------------*/
.lf-header {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.lf-hd-con {
    width: 100%;
    height: 100%;
    height: calc(100vh - 77px);
    margin-top: 77px;
    background-color: rgba(0, 0, 0, 0.5);
}


.lf-hd-con p { color: var(--color-theme-01); }
.lf-hd-con h1 { color: var(--white-color); }

.lf-hd-form select { color: var(--description-color); }

.lf-hd-btn-arrow {
    position: relative;
    width: 30px;
    height: 30px;
    padding: 2rem;
    margin-top: 3rem;
    border-radius: 50%;
}
.lf-hd-btn-arrow i,
.lf-hd-btn-arrow svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 26px;
}



/*---------------------------------------
    MAIN             
-----------------------------------------*/
/* --------------------------------------------------- */
/* --------- Section 01 | Introduct --------- */
.lf-sec01-info h2 {
    font-size: 26px;
    font-weight: 600;
    color: var(--description-color);
}

.lf-sec01-info > p {
    font-size: 18px;
    padding-top: 1rem;
    color: var(--description-color);
}

.lf-sec01-img {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 2rem;
    padding-left: 3rem;
}

.lf-sec01-img img {
    border-radius: 50%;
    object-fit: cover;
}

.lf-sec01-img img:nth-child(1) {
    width: 210px;
    height: 210px;
}

.lf-sec01-img img:nth-child(2) {
    width: 350px;
    height: 350px;
}

@media screen and (max-width: 1024px) {
    .lf-sec01-img { margin-top: 3rem; padding: 0; gap: 1rem; }
    .lf-sec01-img img:nth-child(1) { width: 300px; height: 300px; }
    .lf-sec01-img img:nth-child(2) { width: 240px; height: 240px; }
}

@media screen and (max-width: 640px) {
    .lf-sec01-img img:nth-child(1) { width: 250px; height: 250px; }
    .lf-sec01-img img:nth-child(2) { width: 140px; height: 140px; }
}


/* __________ Sec01 Opening House __________ */
.lf-sec01-open {
    padding: 6rem 0;
    background: url(../images/decoration-07.jpg) center / cover no-repeat;
}

.lf-sec01-open-con {
    position: relative;
    padding: 3rem;
    border-radius: 18px;
    overflow: hidden;
    background-color: var(--white-color);
}
.lf-sec01-open-con::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 20px;
    top: 0;
    left: 0;
    background-color: var(--color-theme-04);
}

.lf-sec01-open-con h1 {
    font-size: 46px;
    font-weight: 600;
}

.lf-sec01-open-con i,
.lf-sec01-open-con svg { font-size: 32px; color: var(--description-color); }

.lf-sec01-open-con p {
    font-size: 18px;
    padding-top: .2rem;
    margin: 0 0 .5rem 1rem;
    color: var(--description-color);
}



/* --------------------------------------------------- */
/* --------- Section 02 | Interior Products --------- */
.lf-sec02-items {
    position: relative;
    display: inline-block;
    height: 400px;
    width: 100%;
    border-radius: 20px;
}

.lf-sec02-items-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.lf-sec02-items img {
    height: 100%;
    object-fit: cover;
}


.lf-sec02-items .lf-sec02-topright {
    position: absolute;
    top: 20px;
    right: 20px;
}

.lf-sec02-topright .lf-sec02-keep {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8rem;
    padding: 1.3rem;
    background-color: #fff;
    border-radius: 8px;
}

.lf-sec02-keep i,
.lf-sec02-keep svg {
    font-size: 20px;
    color: var(--description-color);
    transition: .25s ease-in-out;
}

.lf-sec02-keep i:hover,
.lf-sec02-keep svg:hover { color: var(--color-theme-04); }

.lf-sec02-price {
    position: relative;
    margin-top: .8rem;
    padding: .5rem;
    font-size: 14px;
    text-align: center;
    background-color: #fff;
    color: var(--color-theme-04);
    border-radius: 8px;
    z-index: 2;
}
.lf-sec02-price::after {
    content: '';
    position: absolute;
    top: -5px;
    left: 40%;
    width: 15px;
    height: 15px;
    background-color: #fff;
    transform: rotate(45deg);
    z-index: -1;
}

.lf-sec02-items .lf-sec02-more {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: var(--color-theme-02);
    transition: .25s ease;
    opacity: 0;
}

.lf-sec02-items .lf-sec02-more p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.lf-sec02-items:hover .lf-sec02-more {
    opacity: 1;
}
.lf-sec02-more:hover {
    background-color: var(--color-theme-03);
}



/* --------------------------------------------------- */
/* --------- Section 03 | Reviews --------- */
.lf-sec03 {
    width: 100%;
    background-color: #f9f9f9;
}

.lf-sec03-items {
    margin-right: 2rem;
    background-color: #fff;
    border-radius: 24px;
    overflow: hidden;
}

.lf-sec03-items h1 {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 3rem 2rem;

}

.lf-sec03-user {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: .6rem 1.2rem;
    z-index: 1;
    color: #fff;
    background: linear-gradient(180deg, var(--color-theme-03) 0%, var(--color-theme-04) 100%);
}

.lf-sec03-user::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 23px;

    width: 0;
    height: 0;
    border-bottom: 22px solid var(--color-theme-03);
    border-left: 24px solid transparent;
    border-right: 24px solid transparent;
}

.lf-sec03-user p {
    font-size: 18px;
}

.lf-sec03-facebook { background-color: #1877F2 !important; }



/* --------------------------------------------------- */
/* --------- Section 04 | Contact --------- */
.lf-sec04-form,
.lf-sec04-contact {
    position: relative;
    padding: 3rem;
    overflow: hidden;
    border-radius: 16px;
}

.lf-sec04-form {
    background-color: #eee;
}

.lf-sec04-contact {
    color: var(--white-color);
    background-color: var(--color-theme-03);
}

.lf-sec04-box {
    display: flex;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1.3rem;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.lf-sec04-box label { width: max-content !important; margin-right: .6rem; }
.lf-sec04-box input { width: auto; }

.lf-sec04-contact::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background-color: var(--color-theme-04);
}
.lf-sec04-contact .bx {
    font-size: 22px;
    color: var(--color-theme-04);
}

.lf-footer {
    width: 100%;
    background-color: #000000;
    color: #fff;
}

/* ==============================================
    Responsive Disign 
================================================= */
/* @media screen and (max-width: 1280px) {
    .lf-container { width: 1240px; }
}
@media screen and (max-width: 1024px) {
    .lf-container { width: 992px; }
}
@media screen and (max-width: 768px) {
    .lf-container { width: 624px; }
}
@media screen and (max-width: 640px) {
    .lf-container { width: 440px; }
} */